<header>
  <nav class="container">
    <h3>AngularJS Reddit Clone</h3>
  </nav>
</header>

<main class="container">
  <div class="pull-right">
    <p><a class="btn btn-info" ng-click="$ctrl.toggleNewPostForm()">New Post</a></p>
  </div>

  <ul class="nav nav-pills">
    <li role="presentation" class="active">
      <input ng-model="filterText" type="search" class="form-control input-sm search-form" placeholder="Filter">
    </li>
    <li class="dropdown" ng-init="sort='-vote_count'; sortName='Votes'">
      <a href="#" class="dropdown-toggle input-sm" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort By {{sortName}}<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a ng-click="sort='-vote_count'; sortName='Votes';">Votes</a></li>
        <li><a ng-click="sort='title'; sortName='Title'">Title</a></li>
        <li><a ng-click="sort='-created_at'; sortName='Newest First';">Newest First</a></li>
        <li><a ng-click="sort='created_at'; sortName='Oldest First';">Oldest First</a></li>
      </ul>
    </li>
  </ul>

  <div class="row" ng-if="$ctrl.showNewPostForm">
    <div class="col-md-8 col-md-offset-2 well">
      <form name="newPostForm" ng-submit="$ctrl.addPost()" novalidate>
        <div ng-class="{'form-group': true, 'has-error': newPostForm.postTitle.$invalid && newPostForm.postTitle.$touched }">
          <label for="title">Title</label>
          <input type="text" name="postTitle" ng-model="$ctrl.newPost.title" ng-minlength="3" ng-maxlength="25" id="title" class="form-control" required>
            <div ng-messages="newPostForm.postTitle.$error" ng-show="newPostForm.postTitle.$touched">
              <p ng-message="required">You must include a post title.</p>
              <p ng-message="minlength">Title must be at least 3 characters.</p>
              <p ng-message="maxlength">Title max length is 25 characters.</p>
            </div>
        </div>
        <div ng-class="{'form-group': true, 'has-error': newPostForm.postBody.$invalid && newPostForm.postBody.$touched }">
          <label for="body">Body</label>
          <textarea name="postBody" ng-model="$ctrl.newPost.body" ng-minlength="10" ng-maxlength="250" id="body" class="form-control" required></textarea>
            <div ng-messages="newPostForm.postBody.$error" ng-show="newPostForm.postBody.$touched">
              <p ng-message="required">You must include a post body.</p>
              <p ng-message="minlength">Post body must be at least 10 characters.</p>
              <p ng-message="maxlength">Post body max length is 250 characters.</p>
            </div>
        </div>
        <div ng-class="{'form-group': true, 'has-error': newPostForm.postAuthor.$invalid && newPostForm.postAuthor.$touched }">
          <label for="author">Author</label>
          <input type="text" name="postAuthor" ng-model="$ctrl.newPost.author" ng-minlength="3" ng-maxlength="35" id="author" class="form-control" required>
            <div ng-messages="newPostForm.postAuthor.$error" ng-show="newPostForm.postAuthor.$touched">
              <p ng-message="required">You must include a post author.</p>
              <p ng-message="minlength">Author must be at least 3 characters.</p>
              <p ng-message="maxlength">Author max length is 35 characters.</p>
            </div>
        </div>
        <div ng-class="{'form-group': true, 'has-error': newPostForm.postImgUrl.$invalid && newPostForm.postImgUrl.$touched }">
          <label for="image-url">Image URL</label>
          <input type="text" name="postImgUrl" ng-model="$ctrl.newPost.image_url" ng-minlength="10" ng-pattern="/(http[s]?://.*.(?:png|jpg|gif|svg|jpeg)$)/" id="image-url" class="form-control" required>
            <div ng-messages="newPostForm.postImgUrl.$error" ng-show="newPostForm.postImgUrl.$touched">
              <p ng-message="required">You must include an Image URL.</p>
              <p ng-message="minlength">Image URL must be at least 10 characters.</p>
              <p ng-message="pattern">You must enter a valid URL.</p>
            </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" ng-disabled="newPostForm.$invalid">Add Post</button>
        </div>
      </form>
    </div>
  </div>

  <div class="well" ng-repeat="post in $ctrl.posts | filter:filterText | orderBy:sort">
    <div class="media-left">
      <img class="media-object" ng-src="{{ post.image_url }}"/>
      <p class="text-center">
        <a href="#">Edit Post</a>
      <p>
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{post.title}} |
        <a ng-click="$ctrl.upVote(post)"><i class="glyphicon glyphicon-arrow-up"></i></a>
        <a ng-click="$ctrl.downVote(post)"><i class="glyphicon glyphicon-arrow-down"></i></a>
        {{post.vote_count}}
      </h4>
      <div class="text-right text-primary">{{post.author}}</div>
      <h5 class="post-body">{{post.body}}</h5>
      <h6 class="text-primary">Posted: <span am-time-ago="post.created_at"></span></h6>
      <div>
        <i class="glyphicon glyphicon-comment glyph-magenta"></i>
        <a class="text-info" ng-click="showComments=!showComments">
          <ng-pluralize count="post.comments.length"
              when="{
                '0': 'No comments yet',
                'one': '1 comment',
                'other': '{} comments'
              }">
          </ng-pluralize>
        </a>
      </div>
      <div ng-if="showComments">
        <div>
          <hr>
          <div class="row" ng-repeat="comment in post.comments">
          <p class="text-info col-md-4">
            {{comment.content}}
          </p>
          <p class="col-md-4">Posted: <span am-time-ago="comment.created_at"></span></p>
          </div>

          <form name="newCommentForm" ng-submit="$ctrl.addComment(post, newCommentForm)" class="form-inline" novalidate>
            <div ng-class="{'form-group': true, 'has-error': newCommentForm.newCommentContent.$invalid && newCommentForm.newCommentContent.$dirty }">
              <input name="newCommentContent" type="text" ng-model="post.newComment.content" ng-maxlength="50" class="form-control" required>
            </div>
            <div class="form-group">
              <button class="btn btn-info" type="submit" ng-disabled="newCommentForm.newCommentContent.$invalid">Add Comment</button>
            </div>
            <div ng-messages="newCommentForm.newCommentContent.$error" ng-show="newCommentForm.newCommentContent.$dirty">
              <p ng-message="required">Comment field cannot be empty.</p>
              <p ng-message="maxlength">Comment max length is 50 characters.</p>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

</main>